<header>
    <div class="main-navigation">
        <a href="{{url('secured')}}">
            <img src="{{asset('images/logo.png')}}" alt="Site logo">
        </a>
        <div class="user-actions">
            <p class="username">
                <strong>{{ app.user.username }}</strong>
            </p>
            <a class="logout-link" href="{{url('logout')}}">
                Logout
            </a>
        </div>
    </div>
</header>