<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{asset('images/logo.png')}}">
        {% block stylesheets %}
            <link href="{{asset('css/main.css')}}" type="text/css" rel="stylesheet"/>
        {% endblock %}
    </head>
    <body>
        {% include 'partials/_header.html.twig' %}
        {% block body %}{% endblock %}
    </body>
</html>
